{% extends 'base.html' %}

{% block form %}
    <div>
        <form action="/upload-files" method="post" enctype="multipart/form-data">
            <div class="mb3">
                <label> Upload Files </label>
                <input class="form-control form-control-lg" name="files" type="file" multiple accept="image/*">
            </div>

            <div class="col-12" style="margin-top: 30px;">
                <input class="btn btn-primary btn-lg" type="submit" style="margin-right: 20px;">
                <a class="btn btn-primary btn-lg" href="all-images" style="margin-right: 20px;">
                    See all images
                </a>
                <p style="font-size: large;"> <b> {{ status }} </b> </p>
            </div>
        </form>
    </div>
{% endblock form %}